name: MLflow CI Basic

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow scikit-learn pandas matplotlib

    - name: Run training
      run: |
        cd MLProject
        mlflow run . --env-manager=local

    - name: Upload MLflow Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: MLProject/mlruns

    - name: Build Docker Image with MLflow
      run: |
        cd MLProject
        mlflow models build-docker \
          -m "runs:/$(ls mlruns/0 | head -n 1)/model" \
          -n ${{ secrets.DOCKERHUB_USERNAME }}/telco-churn-mlflow

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/telco-churn-mlflow

       